* {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    margin: 0;
}

a {
    text-decoration: none;
}
a:visited {
    color: black;
}

a:hover {
    text-decoration: overline $color-primary;
}

li {
    list-style: none;
}
