@import '../../sass/main.scss';

.navbar {
    @include flex(row, center, center);
    &_list {
        @include flex(row, space-between, center);
        width: 200px;
        height: 80px;
        padding: 0px;
        &_item {
            width: 80px;
            height: 100%;
        }
    }
}
